[database]
db_host=cn-db
db_port=27017
db_name=primary
db_user=john
db_pwd=1jd019x1h9bsFdJD

[server]
environment=development

[auth0]
domain=your-site.auth0.com
audience=https://your-site.com/
algorithm=RS256